.quiz-list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.quiz-list ul {
  display: flex;
  gap: 8px;
  list-style-type: none;
  padding-left: 0;
}

.answer-button {
  color: green;
  background-color: white;
  border: 1px solid green;
  border-radius: 4px;
  padding: 8px 8px;
}

.answer-selected {
  color: white;
  background-color: green;
  border-color: green;
  border-radius: 4px;
  padding: 8px 8px;
}

.wrong-answer {
  color: white;
  background-color: red;
  border-color: red;
  border-radius: 4px;
  padding: 8px 8px;
}

.low-score-bg {
  background-color: red;
}

.high-score-bg {
  background-color: green;
}

.medium-score-bg {
  background-color: yellow;
}

.redirect-button-block {
  margin: 16px 0;
  display: flex;
  justify-content: center;
}

.redirect-button {
  background-color: gray;
  padding: 8px 8px;
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  text-decoration: none;
}
